<div class="row">
  <div class="card col-8" style="max-height: 600px; overflow-y: auto;">
    <div class="row">
      <div class="pedidos col-12 m-auto">
        <h1>
          Bebidas
        </h1>
        <div class="row">
          <div matRipple (click)="detallesBebida(lineaDeBebida)" class="card m-2  mat-elevation-z8" style="width: 110px; border-color: rgb(60, 156, 235);" *ngFor="let lineaDeBebida of Pedido.lineaDeBebidas">
            <div class="card-content  mb-3 mr-2 ml-2 pt-2 border-primary" style="height: 70px; font-weight: bold;">
              {{lineaDeBebida.bebida.nombre}}
            </div>
            <div class="card-footer p-1 pl-2 pr-2" style="background-color: rgb(60, 156, 235);" >
              <i *ngIf="lineaDeBebida.temperatura" class="fas fa-snowman" style="color: white;"></i>
              <i *ngIf="!lineaDeBebida.temperatura" class="fab fa-hotjar" style="color: white;"></i>
              <div style="float: right; color: white;">
                S/{{lineaDeBebida.cantidad*lineaDeBebida.bebida.precio}}.00
              </div>
            </div>
          </div> 
          <div class="card m-2 mat-elevation-z8" style="width: 110px; border-color: rgb(60, 156, 235);">
            <div matRipple class="card-content" style="height: 100%; padding-top: 4px; margin-left: 1.5px;"> 
                <mat-icon style="font-size: 105px; color: rgb(60, 156, 235);"(click)="openDialogBebidas()">control_point</mat-icon>
            </div> 
          </div> 
        </div>
      </div> 
    </div>
    <div class="row">
      <div class="pedidos col-12 m-auto">
        <h1>
          Platos
        </h1>
        <div class="row">
          <div matRipple (click)="detallesPlato(lineaDePlato)" class="card m-2 mat-elevation-z8" style="width: 110px; border-color: rgb(209, 122, 41);" *ngFor="let lineaDePlato of Pedido.lineaDePlatos">
            <div class="card-content  mb-3 mr-2 ml-2 pt-2 border-primary" style="height: 70px; font-weight: bold;">
              {{lineaDePlato.plato.nombre}}
            </div>
            <div class="card-footer p-1 pl-2 pr-2" style="background-color: rgb(209, 122, 41);" >
              <i *ngIf="!lineaDePlato.preferencia" class="fas fa-truck" style="color: white;"></i> 
              <div style="float: right; color: white;">
                S/{{lineaDePlato.cantidad*lineaDePlato.plato.precio}}.00
              </div>
            </div>
          </div> 
          <div class="card m-2 mat-elevation-z8" style="width: 110px; border-color: rgb(209, 122, 41);">
            <div matRipple class="card-content" style="height: 100%; padding-top: 4px; margin-left: 1.5px;"> 
                <mat-icon style="font-size: 105px; color: rgb(209, 122, 41);"(click)="openDialogPlatos()">control_point</mat-icon>
            </div> 
          </div> 
        </div>
      </div>
    </div>
    <div class="row">
      <div class="pedidos col-12 m-auto">
        <h1>
          Guarniciones
        </h1>
        <div class="row">
          <div matRipple (click)="detallesGuarnicion(lineaDeGuarnicion)" class="card m-2 mat-elevation-z8" style="width: 110px; border-color: rgb(62, 170, 58);" *ngFor="let lineaDeGuarnicion of Pedido.lineaDeGuarniciones">
            <div class="card-content  mb-3 mr-2 ml-2 pt-2 border-primary" style="height: 70px; font-weight: bold;">
              {{lineaDeGuarnicion.guarnicion.nombre}}
            </div>
            <div class="card-footer p-1 pl-2 pr-2" style="background-color: rgb(62, 170, 58);" > 
              <div style="float: right; color: white;">
                S/{{lineaDeGuarnicion.cantidad*lineaDeGuarnicion.guarnicion.precio}}.00
              </div>
            </div>
          </div> 
          <div class="card m-2 mat-elevation-z8" style="width: 110px; border-color: rgb(62, 170, 58);">
            <div matRipple class="card-content" style="height: 100%; padding-top: 4px; margin-left: 1.5px;"> 
                <mat-icon style="font-size: 105px; color: rgb(62, 170, 58);"(click)="openDialogGuarniciones()">control_point</mat-icon>
            </div> 
          </div> 
        </div>
      </div>
    </div>
  </div> 
  <div class="detalles col-4">
    <div class="card mat-elevation-z8">
      <div class="card-content p-4" style="font-size: 20px;min-height: 500px;">
        <div class="text-align">
          <i class="fa fa-user-circle mr-2"></i>
          <span class="text-left" style="font-weight: bold;">{{Pedido.cliente}}</span> 
          <i class="fa fa-pencil" style="padding-left: 5%;" (click)="abrirDialogParaEditarPedido()"></i>
          <i class="fas fa-trash-alt" style="padding-left: 20px;" (click)="eliminar()"></i> 
        </div>
        <hr> 
        <div class="row">
          <div class="m-auto">
            <span style="font-size: 20px; font-weight: bold;">Mesa: {{Pedido.mesa.codigo}}</span>
          </div>
          <div class="m-auto">
            <i class="fa fa-truck" *ngIf="!Pedido.preferencia"></i>
          </div>
          <div class="m-auto">
            <mat-icon *ngIf="Pedido.estado">hourglass_empty</mat-icon>
            <mat-icon *ngIf="!Pedido.estado">done_outline</mat-icon>
          </div>
        </div>
        <hr> 
        <br>
        <!--DETALLES BEBIDA-->
        <div *ngIf="LINEADEBEBIDADETALLES" style="color:black;"> 
          <div class="text-align p-2"> 
            <span class="text-left"  style="font-weight: bold;color:rgb(60, 156, 235);">BEBIDA</span> 
            <i class="fa fa-pencil" style="padding-left: 30%; color:rgb(60, 156, 235);" (click)="abrirDialogParaEditarBebida(LINEADEBEBIDADETALLES)"></i>
            <i class="fas fa-trash-alt" style="padding-left: 40px; color:rgb(60, 156, 235);" (click)="eliminarBebida(LINEADEBEBIDADETALLES)"></i> 
          </div>  
          <br> 
          <div>
            <h2>
              <label style="color: rgb(60, 156, 235);">Nombre: </label>
              {{LINEADEBEBIDADETALLES.bebida.nombre}} <label *ngIf="LINEADEBEBIDADETALLES.bebida.litraje">{{LINEADEBEBIDADETALLES.bebida.litraje}}</label> <br>
              <label style="color: rgb(60, 156, 235);">Cantidad: </label>
              {{LINEADEBEBIDADETALLES.cantidad}} <br>
              <label style="color: rgb(60, 156, 235);">Temperatura: </label>
              <label *ngIf="LINEADEBEBIDADETALLES.temperatura">Helada</label> 
              <label *ngIf="!LINEADEBEBIDADETALLES.temperatura">Normal</label> <br>
              <label style="color: rgb(60, 156, 235);;">Precio por unidad: </label>
               {{LINEADEBEBIDADETALLES.bebida.precio}} <br>
              <label style="color: rgb(60, 156, 235);">Precio final: </label>
               {{LINEADEBEBIDADETALLES.bebida.precio*LINEADEBEBIDADETALLES.cantidad}}
            </h2>
          </div>
        </div>
        <!--DETALLES PLATO-->
        <div *ngIf="LINEADEPLATODETALLES"> 
          <div class="text-align p-2"> 
            <span class="text-left"  style="font-weight: bold;color:rgb(209, 122, 41);">PLATO</span> 
            <i class="fa fa-pencil" style="padding-left: 30%; color:rgb(209, 122, 41);" (click)="abrirDialogParaEditarPlato(LINEADEPLATODETALLES)"></i>
            <i class="fas fa-trash-alt" style="padding-left: 40px; color:rgb(209, 122, 41);" (click)="eliminarPlato(LINEADEPLATODETALLES)"></i> 
          </div> 
          <br> 
          <div>
            <h2>
              <label style="color: rgb(209, 122, 41);">Nombre: </label>
              {{LINEADEPLATODETALLES.plato.nombre}} <br>
              <label style="color: rgb(209, 122, 41);">Cantidad: </label>
              {{LINEADEPLATODETALLES.cantidad}} <br>
              <label style="color: rgb(209, 122, 41);">Preferencia: </label>
              <label *ngIf="LINEADEPLATODETALLES.preferencia">Para comer aqui.</label> 
              <label *ngIf="!LINEADEPLATODETALLES.preferencia">Para llevar.</label> <br>
              <label style="color: rgb(209, 122, 41);">Precio por unidad: </label>
               {{LINEADEPLATODETALLES.plato.precio}} <br>
               <label style="color: rgb(209, 122, 41);">Descripcion: </label>
               {{LINEADEPLATODETALLES.descripcion}} <br>
              <label style="color: rgb(209, 122, 41);">Precio final: </label>
               {{LINEADEPLATODETALLES.plato.precio*LINEADEPLATODETALLES.cantidad}}
            </h2>
          </div>
        </div>
        <!--DETALLES GUARNICION-->
        <div *ngIf="LINEADEGUARNICIONDETALLES"> 
          <div class="text-align p-2"> 
            <span class="text-left"  style="font-weight: bold;color:rgb(62, 170, 58);">GUARNICION</span> 
            <i class="fa fa-pencil" style="padding-left: 10%; color:rgb(62, 170, 58);" (click)="abrirDialogParaEditarGuarnicion(LINEADEGUARNICIONDETALLES)"></i>
            <i class="fas fa-trash-alt" style="padding-left: 40px; color:rgb(62, 170, 58);" (click)="eliminarGuarnicion(LINEADEGUARNICIONDETALLES)"></i> 
          </div>  
          <br> 
          <div>
            <h2>
              <label style="color: rgb(62, 170, 58);">Nombre: </label>
              {{LINEADEGUARNICIONDETALLES.guarnicion.nombre}} <br>
              <label style="color: rgb(62, 170, 58);">Cantidad: </label>
              {{LINEADEGUARNICIONDETALLES.cantidad}} <br> 
              <label style="color: rgb(62, 170, 58);">Precio por unidad: </label>
              {{LINEADEGUARNICIONDETALLES.guarnicion.precio}} <br>
              <label style="color: rgb(62, 170, 58);">Descripcion: </label>
              {{LINEADEGUARNICIONDETALLES.descripcion}} <br>
              <label style="color: rgb(62, 170, 58);">Precio final: </label>
              {{LINEADEGUARNICIONDETALLES.guarnicion.precio*LINEADEGUARNICIONDETALLES.cantidad}}
            </h2>
          </div>
        </div>
      </div>
      <div class="card-footer" style="background-color: red; color: white; font-weight: bold; font-size: larger;">
        COSTO TOTAL: 
        <div style="float:right">S/{{Pedido.precioTotal}}.00</div>  
      </div>
      <div matRipple (click)="guardar()" class="card-footer text-center" style="background-color: rgb(247, 0, 255); color: white; font-weight: bold; font-size: larger;">
        GUARDAR
      </div>
    </div>
  </div>
</div>