<div class="row">
  <div class="card col-7" style="max-height: 600px; overflow-y: auto;">
    <div class="row">
      <div class="pedidos col-12 m-auto">
        <h1>
          Bebidas
        </h1>
        <div class="row">
          <div matRipple (click)="abrirDialogParaEditarBebida(lineaDeBebida)" class="card m-2  mat-elevation-z8" style="width: 120px; border-color: rgb(60, 156, 235);" *ngFor="let lineaDeBebida of Pedido.lineaDeBebidas">
            <div class="card-content  mb-3 mr-2 ml-2 pt-2 border-primary" style="height: 70px; font-weight: bold;">
              {{lineaDeBebida.bebida.nombre}}
            </div>
            <div class="card-footer p-1 pl-2 pr-2" style="background-color: rgb(60, 156, 235);" >
              <i *ngIf="lineaDeBebida.temperatura" class="fas fa-snowman" style="color: white;"></i>
              <i *ngIf="!lineaDeBebida.temperatura" class="fab fa-hotjar" style="color: white;"></i>
              <div style="float: right; color: white;">
                S/{{lineaDeBebida.cantidad*lineaDeBebida.bebida.precio}}.00
              </div>
            </div>
          </div> 
          <div class="card m-2 mat-elevation-z8" style="width: 110px; border-color: rgb(60, 156, 235);">
            <div matRipple class="card-content" style="height: 100%; padding-top: 4px; margin-left: 1.5px;"> 
                <mat-icon style="font-size: 105px; color: rgb(60, 156, 235);"(click)="openDialogBebidas()">control_point</mat-icon>
            </div> 
          </div> 
        </div>
      </div> 
    </div>
    <div class="row">
      <div class="pedidos col-12 m-auto">
        <h1>
          Platos
        </h1>
        <div class="row">
          <div matRipple (click)="abrirDialogParaEditarPlato(lineaDePlato)" class="card m-2 mat-elevation-z8" style="width: 120px; border-color: rgb(209, 122, 41);" *ngFor="let lineaDePlato of Pedido.lineaDePlatos">
            <div class="card-content  mb-3 mr-2 ml-2 pt-2 border-primary" style="height: 70px; font-weight: bold;">
              {{lineaDePlato.plato.nombre}}
            </div>
            <div class="card-footer p-1 pl-2 pr-2" style="background-color: rgb(209, 122, 41);" >
              <i *ngIf="!lineaDePlato.preferencia" class="fas fa-truck" style="color: white;"></i> 
              <div style="float: right; color: white;">
                S/{{lineaDePlato.cantidad*lineaDePlato.plato.precio}}.00
              </div>
            </div>
          </div> 
          <div class="card m-2 mat-elevation-z8" style="width: 110px; border-color: rgb(209, 122, 41);">
            <div matRipple class="card-content" style="height: 100%; padding-top: 4px; margin-left: 1.5px;"> 
                <mat-icon style="font-size: 105px; color: rgb(209, 122, 41);"(click)="openDialogPlatos()">control_point</mat-icon>
            </div> 
          </div> 
        </div>
      </div>
    </div>
    <div class="row">
      <div class="pedidos col-12 m-auto">
        <h1>
          Guarniciones
        </h1>
        <div class="row">
          <div matRipple (click)="abrirDialogParaEditarGuarnicion(lineaDeGuarnicion)" class="card m-2 mat-elevation-z8" style="width: 120px; border-color: rgb(62, 170, 58);" *ngFor="let lineaDeGuarnicion of Pedido.lineaDeGuarniciones">
            <div class="card-content  mb-3 mr-2 ml-2 pt-2 border-primary" style="height: 70px; font-weight: bold;">
              {{lineaDeGuarnicion.guarnicion.nombre}}
            </div>
            <div class="card-footer p-1 pl-2 pr-2" style="background-color: rgb(62, 170, 58);" > 
              <div style="float: right; color: white;">
                S/{{lineaDeGuarnicion.cantidad*lineaDeGuarnicion.guarnicion.precio}}.00
              </div>
            </div>
          </div> 
          <div class="card m-2 mat-elevation-z8" style="width: 110px; border-color: rgb(62, 170, 58);">
            <div matRipple class="card-content" style="height: 100%; padding-top: 4px; margin-left: 1.5px;"> 
                <mat-icon style="font-size: 105px; color: rgb(62, 170, 58);"(click)="openDialogGuarniciones()">control_point</mat-icon>
            </div> 
          </div> 
        </div>
      </div>
    </div>
  </div> 
  <div class="detalles col-5">
    <div class="card mat-elevation-z8">
      <div class="card-content p-4" style="font-size: 20px;min-height: 500px;">
        <div class="text-align">
          <i class="fa fa-user-circle mr-2"></i>
          <span class="text-left" style="font-weight: bold;">{{Pedido.cliente}}</span> 
          <i class="fa fa-pencil" style="padding-left: 5%;" (click)="abrirDialogParaEditarPedido()"></i>
          <i class="fas fa-trash-alt" style="padding-left: 20px;" (click)="eliminar()"></i> 
        </div>
        <hr> 
        <div class="row">
          <div class="m-auto">
            <span style="font-size: 20px; font-weight: bold;">Mesa: {{Pedido.mesa.codigo}}</span>
          </div>
          <div class="m-auto">
            <i class="fa fa-truck" *ngIf="!Pedido.preferencia"></i>
          </div>
          <div class="m-auto">
            <mat-icon *ngIf="Pedido.estado">hourglass_empty</mat-icon>
            <mat-icon *ngIf="!Pedido.estado">done_outline</mat-icon>
          </div>
        </div>
        <hr>  
        <div style="max-height: 330px; overflow-y: auto; font-size: 40px;">
          <!--DETALLES BEBIDA-->
          <div *ngIf="Pedido.lineaDeBebidas" style="color:black;">  
            <mat-accordion >
              <mat-expansion-panel hideToggle *ngFor="let lineaDeBebida of Pedido.lineaDeBebidas" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="bebidas"> 
                    {{lineaDeBebida.bebida.nombre}} <label *ngIf="lineaDeBebida.bebida.litraje">{{lineaDeBebida.bebida.litraje}}</label>
                    ({{lineaDeBebida.cantidad}}) -- 
                    S/{{lineaDeBebida.bebida.precio*lineaDeBebida.cantidad}}.00  
                  </mat-panel-title> 
                </mat-expansion-panel-header>
                
                <label style="color: rgb(60, 156, 235);">Temperatura: </label>
                <label *ngIf="lineaDeBebida.temperatura">Helada</label> 
                <label *ngIf="!lineaDeBebida.temperatura">Normal</label> <br>  
                <div class="text-right">
                  <i class="fas fa-trash-alt" style="color: red;" (click)="eliminarBebida(lineaDeBebida)"></i> 
                </div>
              </mat-expansion-panel>
            </mat-accordion> 
          </div>
          <br>
          <!--DETALLES PLATO-->
          <div *ngIf="Pedido.lineaDePlatos">   
            <mat-accordion>
              <mat-expansion-panel hideToggle *ngFor="let lineaDePlato of Pedido.lineaDePlatos">
                <mat-expansion-panel-header>
                  <mat-panel-title class="platos"> 
                    {{lineaDePlato.plato.nombre}}
                    ({{lineaDePlato.cantidad}}) -- 
                    S/{{lineaDePlato.plato.precio*lineaDePlato.cantidad}}.00  
                  </mat-panel-title> 
                </mat-expansion-panel-header> 
                <label *ngIf="lineaDePlato.descripcion" style="color: rgb(209, 122, 41);">Descripcion: </label> 
                <label *ngIf="lineaDePlato.descripcion">{{lineaDePlato.descripcion}} <br></label>
                <label style="color: rgb(209, 122, 41);">Preferencia: </label>
                <label *ngIf="lineaDePlato.preferencia">Para comer aqui.</label> 
                <label *ngIf="!lineaDePlato.preferencia">Para llevar.</label> <br>
                <div class="text-right">
                  <i class="fas fa-trash-alt" style="color: red;" (click)="eliminarPlato(lineaDePlato)"></i> 
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <br>
          <!--DETALLES GUARNICION-->
          <div *ngIf="Pedido.lineaDeGuarniciones">  
            <mat-accordion>
              <mat-expansion-panel hideToggle *ngFor="let lineaDeGuarnicion of Pedido.lineaDeGuarniciones">
                <mat-expansion-panel-header>
                  <mat-panel-title class="guarniciones"> 
                    {{lineaDeGuarnicion.guarnicion.nombre}}
                    ({{lineaDeGuarnicion.cantidad}}) -- 
                    S/{{lineaDeGuarnicion.guarnicion.precio*lineaDeGuarnicion.cantidad}}.00  
                  </mat-panel-title> 
                </mat-expansion-panel-header> 
                <label *ngIf="lineaDeGuarnicion.descripcion" style="color: rgb(62, 170, 58);">Descripcion: </label> 
                <label *ngIf="lineaDeGuarnicion.descripcion">{{lineaDeGuarnicion.descripcion}} </label>
                <div class="text-right">
                  <i class="fas fa-trash-alt" style="color: red;" (click)="eliminarGuarnicion(lineaDeGuarnicion)"></i> 
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
      <div class="card-footer" style="background-color: red; color: white; font-weight: bold; font-size: larger;">
        COSTO TOTAL: 
        <div style="float:right">S/{{Pedido.precioTotal}}.00</div>  
      </div>
      <div matRipple (click)="guardar()" class="card-footer text-center" style="background-color: rgb(247, 0, 255); color: white; font-weight: bold; font-size: larger;">
        GUARDAR
      </div>
    </div>
  </div>
</div>