<h1 mat-dialog-title>Escoger Plato: </h1>
<div mat-dialog-content>   
    <mat-form-field class="form-group col-sm-12" appearance="fill">
        <mat-label>Nombre</mat-label>
          <mat-select [(ngModel)]="data.plato.id" (selectionChange)="onSelectValueChangePlato()">
          <mat-option *ngFor="let plato of Platos" [value]="plato.id">
              {{plato.nombre}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="form-group col-sm-6" appearance="fill">
      <mat-label>Preferencia</mat-label>
        <mat-select [(value)]="preferencia" (selectionChange)="onSelectValueChangePreferencia()">
        <mat-option value="true">Comer acá</mat-option>
        <mat-option value="false">Para llevar</mat-option>
      </mat-select>
    </mat-form-field> 
    <mat-form-field  class="col-lg-6" appearance="fill">
        <mat-label for="cantidad" class="col-form-label ">Cantidad</mat-label>
        <input matInput type="number" [(ngModel)]="data.cantidad"  name="cantidad">
    </mat-form-field>  
    <mat-form-field class="col-lg-12">
        <mat-label>Descripcion</mat-label>
        <textarea matInput [(ngModel)]="data.descripcion"></textarea>
    </mat-form-field>
</div>  
<div class="row">
  <div mat-dialog-actions *ngIf="data.plato && data.preferencia!=null && data.cantidad"> 
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Guardar</button>
  </div>
  <div mat-dialog-actions *ngIf="puedeCerrar">
      <button mat-button (click)="onNoClick()">Cerrar</button>
  </div>  
</div>