<h1 mat-dialog-title>Escoger Guarnicion: </h1>
<div mat-dialog-content>   
    <mat-form-field class="col-sm-12" appearance="fill">
        <mat-label>Nombre</mat-label>
          <mat-select  [(ngModel)]="data.guarnicion.id" (selectionChange)="onSelectValueChangeGuarnicion()">
          <mat-option *ngFor="let guarnicion of Guarniciones" [value]="guarnicion.id">
              {{guarnicion.nombre}} -- S/{{guarnicion.precio}}.00
          </mat-option>
        </mat-select>
    </mat-form-field> 
    <mat-form-field  class="col-lg-12" appearance="fill">
        <mat-label for="cantidad" class="col-form-label ">Cantidad</mat-label>
        <input matInput type="number" [(ngModel)]="data.cantidad" name="cantidad">
    </mat-form-field> 
    <mat-form-field class="col-lg-12">
        <mat-label>Descripcion</mat-label>
        <textarea matInput [(ngModel)]="data.descripcion"></textarea>
    </mat-form-field>
</div> 
<label *ngIf="data.guarnicion">{{data.guarnicion.nombre}}</label>
<label *ngIf="data.cantidad">{{data.cantidad}}</label>
<label *ngIf="data.descripcion">{{data.descripcion}}</label>
<div class="row">   
    <div mat-dialog-actions *ngIf="data.guarnicion && data.cantidad"> 
        <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Guardar</button>
    </div>
    <div mat-dialog-actions *ngIf="puedeCerrar">
        <button mat-button (click)="onNoClick()">Cerrar</button>
    </div>  
</div>
